* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

$universal-pad: 15px;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  padding: $universal-pad;
}

form {
   button {
    margin-top: $universal-pad;
   }

  background-color: #EEE;
  padding: $universal-pad;
}

.deleteBtn {
  margin: 0 10px;
}

p {
  //border-left: 2px solid #999;
  background-color: #EEE;
  margin: 2px 0;
  padding: 5px;
}

.errorMsg {
  padding-left: $universal-pad;
  color: red;
}